/* CSS used here will be applied after bootstrap.css */
body {
    background-color: #eaeaea;
  }
  
  img.avatar {
    border: 1px solid #eee;
  }
  
  .only-bottom-margin {
    margin-top: 0px;
  }
  
  .activity-mini {
    padding-right: 15px;
    float: left;
  }
  .table {
      margin: 0 auto;
  }
  ::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}