<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead" style="font-weight:bold">User profile
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 text-center">
                            <img class="rounded-circle img-fluid img-responsive" style="display:block; margin:auto;width:200px;height:200px" src="../../assets/images/{{imagePath}}">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h2 class="only-bottom-margin" style="font-weight:bold">{{firstname}}&nbsp;{{lastname}}</h2>
                                </div>
                            </div>
                            <div class="row" style="margin:0 auto">
                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Email:</span>
                                            </td>
                                            <td>{{email}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Mobile:</span>
                                            </td>
                                            <td>{{phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">DOB:</span>
                                            </td>
                                            <td>{{dob.year}}/{{dob.month}}/{{dob.day}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Gender:</span>
                                            </td>
                                            <td> {{gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Country:</span>
                                            </td>
                                            <td>{{country}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">State:</span>
                                            </td>
                                            <td>{{state}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">City:</span>
                                            </td>
                                            <td>{{city}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Address:</span>
                                            </td>
                                            <td> {{address_1}},{{address_2}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-muted">Code:</span>
                                            </td>
                                            <td> {{code}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <button class="btn btn-primary pull-right">
                                <i class="fa fa-pencil"></i> Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>