<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Our
    <small>Dentists</small>
  </h1>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://www.drsunalidentalsolutions.com/resize/1438848425_dr-sunali.jpg"
        alt="">
    </div>
    <div class="col-md-7">
      <h3>Dr.Sunali Joshi Kashyap</h3>
      <h4>(BDS - Pune), MIDA, Ex PGI, Ex ECHS, Ex J&KPolice</h4>
      <p class="text-justify">Dr. Sunali has over 20 years experience in the dental field. Having worked in various parts of the country and abroad.
        She has expertise in latest dental practices and procedures for all age groups. Amongst others, she has worked with
        Ex-Servicemen Contributory Health Scheme (ECHS) in Darjeeling, Dimapur and Chandigarh where she won the hearts of
        our veterans. Being from an Air Force background and married to an army officer, she has a special place for veterans
        and serving personnel in her heart and clinic. Her ethos of ethical and honest dentistry is imbibed in her team at
        Dr. Sunali's Dental Solutions.</p>
      <br>
      <span class="created-by">Profile</span>
      <div class="socials">
        <a href="#" target="_blank" class="ion ion-social-facebook"></a>
        <a href="#" target="_blank" class="ion ion-social-twitter"></a>
        <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-5">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://www.drsunalidentalsolutions.com/resize/1452080331_drsumit-dubey.jpg"
          alt="">
      </a>
    </div>
    <div class="col-md-7">
      <h3>Dr.Sumit Dubey</h3>
      <h4>BDS, M.D.S, FICOI (Prosthodontist & Implantologist) </h4>
      <p class="text-justify">Dr. Dubey is one of a handful of cosmetic dentists who takes responsibility for determining all of these critical aesthetic
        factors by creating a mock up on the patient's own teeth. He has been highly effective in managing dental implants.
      </p>
      <br>
      <span class="created-by">Profile</span>
      <div class="socials">
        <a href="#" target="_blank" class="ion ion-social-facebook"></a>
        <a href="#" target="_blank" class="ion ion-social-twitter"></a>
        <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-5">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://www.drsunalidentalsolutions.com/resize/1453442376_drvishal-gupta.jpg"
          alt="">
      </a>
    </div>
    <div class="col-md-7">
      <h3>Dr. Vishal Gupta</h3>
      <h4>Implantologist & Cosmetic Dentistry</h4>
      <p class="text-justify">Dr. Vishal Gupta graduated with honors from Pune University in 1999. He procured Masters Degree in Orthodontics with
        the highest accolades in Post graduate studies, as he was conferred a gold medal and was adjudged the best outgoing
        student in the university. Following this Royal College of Surgeons, Edinburgh, recognized his talent in Orthodontics
        and bestowed the coveted M.Ortho RCS fellowship. Subsequently he went on to attain fellowship in Implantology from
        the prestigious Manipal University.
        <br/> The last 7 years saw Dr.Gupta towering numerous advance dental workshops in Australia, USA & India.
        <br/> He's been a part of various Orthodontic Conferences and Workshops at the National & International level. He is currently
        the Executive Member of the Indian Orthodontic Society. Dr. Gupta has received many awards and honors along his professional
        tenure.
      </p>
      <br>
      <span class="created-by">Profile</span>
      <div class="socials">
        <a href="#" target="_blank" class="ion ion-social-facebook"></a>
        <a href="#" target="_blank" class="ion ion-social-twitter"></a>
        <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
      </div>
    </div>
  </div>
</div>